{
  "presets": ["next/babel"],
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "html"],
        "plugins": ["line-numbers"],
        "theme": "twilight",
        "css": true
    }]
  ]
}
